body {
  /* font-family: 'Merienda', cursive !important; */
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  text-align: center;
  color: #17a2b8;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #17a2b8;
}

.btn-default:active .filter-button:active {
  background-color: #17a2b8;
  color: #ffffff;
}

.filter-button-all {
  font-size: 18px;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.filter-button-alabel {
  font-size: 18px;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #17a2b8;
}

.btn-default:active .filter-button-all:active {
  background-color: #17a2b8;
  color: #ffffff;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.custom-padding {
  padding: 1.25rem 0px !important;
}

.welcome-heading {
  display: inline-block;
  font-size: 53px;
  /* font-weight: 600; */
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(transparent, transparent),
    url(../images/iconbox-bg.gif);
  background-position: left;
  background-size: 125%;
  float: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

#carousel-item {
  object-fit: contain;
}
.whatsappicon {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
}
.whatapp-icon {
  width: 50px;
}
.drawings {
  text-align: center;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .welcome-heading {
    text-align: center;
    font-size: 35px;
  }
  .responsive-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
